.home-top-links {
    display: flex;
    padding: 20px 100px 10px 0px;
}

.home-top-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
    padding-right: 50px;
    font-weight: 500;
    margin-left: 0px;
}

.third-body-contact {
    display: flex;
    background-color: #e1f1fd;
    flex-grow: 1;
    justify-content: space-evenly;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    padding-left: 50px;
}

.contact-inner {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact-select {
    padding: 5px 260px 5px 3px;
    line-height: 1.5;
    color: #5d6769;
    border: 1px solid #bcc5c5;
    border-radius: 1px;
}

select {
    color: #000000;
    font-size: 16px;
}

input {
    width: 370px;
    height: 20px;
}

input:focus {
    border-color: #005580;
    border-width: 2px;
    outline: none;
}

.detail-input {
    text-align: left;
    padding: 10px;
    width: 380px;
    height: 300px;
    vertical-align: top;
    resize: none;
    line-height: 1.5;
    color: #000000;
    font-size: 16px;
    border-radius: 1px;
    font-family: inherit;
    box-sizing: border-box;
}

/* Style for when the textarea is focused */
.detail-input:focus {
    border-color: #005580;
    border-width: 2px;
    outline: none;
}

.detail-input::placeholder {
    color: #999;
    /* Placeholder text color */
}

.contact-button {
    font-family: inherit;
    font-size: 18px;
    /* Increase font size slightly */
    padding: 10px 20px;
    /* Add padding to make the button slightly bigger */
    background-color: #ffd262;
    /* Set background color */
    color: #552600;
    /* Set text color */
    border: 1px solid #e4b34f;
    /* Set border with thin border */
    border-radius: 10px;
    /* Add border radius */
    cursor: pointer;
    /* Add cursor pointer on hover */
}

.contact-button:hover {
    background-color: #ffe99e;
    /* Change background color on hover */
}

.map {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 200px;
    margin-top: 25px;
}

.map-text {
    font-size: 30px;
}

.group-details-container {
    padding: 20px;
    background: linear-gradient(#e1f1fd, #93bbf3);
}

.group-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(#e1f1fd, #93bbf3);
    border: 2px dashed black;
    border-radius: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    padding-top: 0px;
}

.group-details> :first-child {
    margin-left: 40%;
    margin-right: auto;
}

.outer-details-container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.inner-details-one {
    margin-left: 15%;
  }

.inner-details-three {
    margin-left: 5%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inner-details-two {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.member-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.group-details {
    outline: 10px dashed #E0E4CC;
    box-shadow: 0 0 0 10px #69D2E7;
    animation: 1s animateBorderOne ease infinite;
  }
  
  @keyframes animateBorderOne {
    to {
      outline-color: #f32400;
      box-shadow: 0 0 0 10px #f0d802;
    }
  }

  /* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px; /* Limit width */
    border-radius: 8px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }